


#mapid { height: 180px; }
.leaflet-container{
  width:94.8vw;
  height:100vh;
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background-color: #fb3640;
  font-size:1rem;
  font-family: 'Oranienbaum', serif;
  
}
.map-button{
  cursor: pointer;
}
